.Room {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 43, 67, 0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    display: flex;
}

.Room:hover {
    opacity: 1;
}

.Room_info {
    padding: 10px;
    position: fixed;
    width: 251px;
    height: 120px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 45px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 0 45px 0 rgb(0 0 0 / 25%);
    z-index: 9995;
    border-radius: 10px;
    margin-top: 110px;
    margin-left: 110px;
    font-family: 'bpg_nino_medium_capsregular';
    font-weight: 700;
    display: none;
}

.Room_info_tex {
    /* margin-top: 90px; */
    position: absolute;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #50afff;
    display: none;
    font-family: 'bpg_nino_medium_capsregular';
    font-weight: bold;
}

b {
    font-weight: normal;
}

.Room_info img {
    position: absolute;
    margin-top: 76px;
    margin-left: 38px;
}

.Room_info_text {
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 28px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-top: 17px;
    color: #50afff;
    font-family: "Regular2";

}

.room_kv_bg {
    width: 90%;
    padding: 5px 10px;
    height: 18px;
    margin: 1px auto;
    font-size: 17px;
    color: #000;
    font-family: "Regular2";
    border-radius: 10px;
}

.Room_info_text_bottom {
    width: 90%;
    margin-left: 5%;
    height: 27px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 45px;
    color: #000;
    border: none
}

.Room_info_text_bottom>b {
    font-weight: bold;
}